@import url('https://rsms.me/inter/inter.css');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-weight: 700;
    box-sizing: border-box;
}

body{
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.content{
    height: 50vh;
    width: 77%;
    background-color: #2a3142;
    background-size: cover;
    position: relative;
    float: right;
    display: flex;
}

.main{
    display: flex;
    position: relative;
    top: 10px;
    left: 15px;
    color: #ffffff;
    font-size: 165%;
}

.body a{
    float: none;
    display: block;
    color: #ffffff;
    text-align: left;
    padding: 2% 3%;
    text-decoration: none;
    font-size: 125%;
}

.profile{
    height:50vh;
    width: 77%;
    background-color: #1e2638;
    background-size: cover;
    padding: 10%;
    position: relative;
    float: right;
}

.contact{
    color: #ffffff;
    font-size: 400%;
}

.border{
    background-image: linear-gradient(#1e2638, #2a3142);
    height: 5px;
    width: 77%;
    position: relative;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar{
    height: 100vh;
    width: 23%;
    background-color: #040d21;
    padding: 2%;
    font-size: 125%;
}

.logo{
    width: 125px;
    height: 125px;
    background-color: #0eeee0;
    position: absolute;
    right: 92.5%;
}

.nextup{
    position: relative;
    text-align: right;
    color: #0eeee0;
    font-size: 50pt;
    top: 25px;
}

.sidenav{
    overflow: hidden;
}

.sidenav a{
    float: none;
    display: block;
    color: #ffffff;
    text-align: left;
    padding: 10% 3%;
    text-decoration: none;
    font-size: 30pt;
}

.sidenav a:hover{
    background-color: #151515;
    border-radius: 60px;
}

