@import url('https://rsms.me/inter/inter.css');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-weight: 700;
    box-sizing: border-box;
}

html{
    background-color: #1e2638;
    height: 100%;
}

body{
    background-position: center;
    background-size: cover;
    overflow: hidden;
}


/* profile section */
#profile{
    height: 10vh;
    width: 77%;
    background-color: #161b22;
    background-size: cover;
    padding: 175px;
    position: relative;
    float: right;
}

/* pfp */
#pfp{
    height: 200px;
    width: 200px;
    background-color: #ffffff;
    border-radius: 100px;
    display: flex;
    position: relative;
    float: left;
    right: 150px;
    bottom: 100px;
}
/* name of artist/song */
#name{
    color: #ffffff;
    font-size: 80pt;
    position: relative;
    text-align: left;
    right: 100px;
    bottom: 50px;
}

/* content section */
#content{
    height: 100vh;
    width: 77%;
    background-color: #010409;
    background-size: cover;
    position: relative;
    float: right;
    display: flex;
    overflow-y: scroll;
}

/* sidebar section */
#sidebar{
    height: 100vh;
    width: 100%;
    background-color: #0d1117;
    padding: 50px;
}

/* title */
#nextup{
    position: relative;
    color: #66aab0;
    font-size: 60pt;
    top: 25px;
}
/* sidebar content */


#sidenav a{
    float: none;
    display: block;
    color: #ffffff;
    text-align: left;
    padding: 50px 20px;
    text-decoration: none;
    font-size: 30pt;
}
