@import url('https://rsms.me/inter/inter.css');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-weight: 700;
    box-sizing: border-box;
}

html{
    background-color: #202020;
    height: 100%;
}

body{
    background-position: center;
    background-size: cover;
    overflow: hidden;
}


/* profile section */
.profile{
    height:50vh;
    width: 77%;
    background-image: linear-gradient(#303030, #252525, #202020);
    background-size: cover;
    padding: 10%;
    position: relative;
    float: right;
}
/* pfp */
.pfp{
    height: 25vh;
    width: 20%;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    position: relative;
    float: left;
    bottom: 200%;
    right: 15%;
}
/* name of artist/song */
.name{
    color: #ffffff;
    font-size: 400%;
    position: relative;
    text-align: left;
    right: 10%;
    bottom: 150%;
}
/* tags */
.tag{
    color: #ffffff;
    border: 2px solid #0eeee0;
    border-radius: 60px;
    font-size: 175%;
    display: inline;
    padding: 1% 2%;
    position: relative;
    float: right;
    bottom: 450%;
}


/* border between content and profile */
.border{
    background-image: linear-gradient(#202020, #252525, #303030);
    height: 1vh;
    width: 77%;
    position: relative;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* content section */
.content{
    height: 50vh;
    width: 77%;
    background-color: #303030;
    background-size: cover;
    position: relative;
    float: right;
    display: flex;
}

.main{
    border: 5px solid #0eeee0;
    display: inline;
    font-size: 500%;
    color: #ffffff;
    position: relative;
    float: right;
    padding: 1% 2%;
    left: 70%;
    top: 20%;
}


/* sidebar section */
.sidebar{
    height: 100vh;
    width: 23%;
    background-color: #000000;
    padding: 2%;
    font-size: 125%;
}
/* logo placeholder */
.logo{
    position: absolute;
}
/* title */
.nextup{
    position: relative;
    top: 1%;
    text-align: right;
    color: #0eeee0;
}
/* sidebar content */
.sidenav{
    overflow: hidden;
}

.sidenav a{
    float: none;
    display: block;
    color: #ffffff;
    text-align: left;
    padding: 3% 3%;
    text-decoration: none;
    font-size: 125%;
    top: 50%;
}

.sidenav a:hover{
    background-color: #151515;
    border-radius: 60px;
}

