*{
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet', sans-serif;
  box-sizing: border-box;
}

/* searchbox */
.searchbox{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* body */
.body{
    background-image:<img src="pages background.png";
}8
